Repository vanillaSlice/the-mono: changes, and which Codecov flags are due for each by the changed paths.
All: BestNewMusic, Dawdle, FCCLeaderboard, GameOfLife, HazelcastLeaderElection, ImageSearch, MarkdownPreviewer, ReactGameOfLife, ReactWeatherDashboard, RecipeBox, RequestHeaderParserMicroservice, Strimko, TimestampMicroservice, Tiny, URLShortener, YouTubeViewer

codecov.yml:

comment: false
coverage:
  status:
    patch: off
    project: off
flags:
  BestNewMusic:
    paths:
      - projects/best-new-music
    carryforward: true
  Dawdle:
    paths:
      - projects/dawdle
    carryforward: true
  FCCLeaderboard:
    paths:
      - projects/fcc-leaderboard
    carryforward: true
  GameOfLife:
    paths:
      - projects/game-of-life
    carryforward: true
  HazelcastLeaderElection:
    paths:
      - projects/hazelcast-leader-election
    carryforward: true
  ImageSearch:
    paths:
      - projects/image-search
    carryforward: true
  MarkdownPreviewer:
    paths:
      - projects/markdown-previewer
    carryforward: true
  ReactGameOfLife:
    paths:
      - projects/react-game-of-life
    carryforward: true
  ReactWeatherDashboard:
    paths:
      - projects/react-weather-dashboard
    carryforward: true
  RecipeBox:
    paths:
      - projects/recipe-box
    carryforward: true
  RequestHeaderParserMicroservice:
    paths:
      - projects/request-header-parser-microservice
    carryforward: true
  Strimko:
    paths:
      - projects/strimko
    carryforward: true
  TimestampMicroservice:
    paths:
      - projects/timestamp-microservice
    carryforward: true
  Tiny:
    paths:
      - projects/tiny
    carryforward: true
  URLShortener:
    paths:
      - projects/urlshortener
    carryforward: true
  YouTubeViewer:
    paths:
      - projects/youtube-viewer
    carryforward: true

Add the managers path chapter five
  learning/management/the-managers-path/README.md
Due: none

Blurgh
  learning/management/the-managers-path/README.md
Due: none

Add the managers path chapter five (#147)
  learning/management/the-managers-path/README.md
Due: none

Update job title
  mikelowe.xyz/config.toml
Due: none

Update job title (#148)
  mikelowe.xyz/config.toml
Due: none

Update job title (#149)
  mikelowe.xyz/config.toml
Due: none

Update status badges part one
  projects/best-new-music-digest/README.md
  projects/bitconnect-carlos-ipsum/README.md
  projects/blueprint-pong/README.md
  projects/dawdle/README.md
  projects/fcc-leaderboard/README.md
  projects/fractal-trees/README.md
  projects/game-of-life/README.md
  projects/hazelcast-leader-election/README.md
  projects/image-search/README.md
  projects/javascript-calculator/README.md
  projects/jumpy-block/README.md
Due: BestNewMusic, Dawdle, FCCLeaderboard, GameOfLife, HazelcastLeaderElection, ImageSearch

Update rest
  projects/dawdle/README.md
  projects/image-search/README.md
  projects/legacy-one/README.md
  projects/markdown-previewer/README.md
  projects/matrix-digital-rain/README.md
  projects/pomodoro-clock/README.md
  projects/portfolio/README.md
  projects/react-game-of-life/README.md
  projects/react-weather-dashboard/README.md
  projects/recipe-box/README.md
  projects/request-header-parser-microservice/README.md
  projects/resume-template/README.md
  projects/simon-game/README.md
  projects/snake/README.md
  projects/strimko/README.md
  projects/tic-tac-toe/README.md
  projects/timestamp-microservice/README.md
  projects/tower-of-hanoi/README.md
  projects/trainspotting-choose-quote-machine/README.md
  projects/tribute-page/README.md
  projects/twitch-status-viewer/README.md
  projects/weather-app/README.md
  projects/wikipedia-viewer/README.md
  projects/youtube-viewer/README.md
Due: Dawdle, ImageSearch, MarkdownPreviewer, ReactGameOfLife, ReactWeatherDashboard, RecipeBox, RequestHeaderParserMicroservice, Strimko, TimestampMicroservice, YouTubeViewer

Update status badges part one (#150)
  projects/best-new-music-digest/README.md
  projects/bitconnect-carlos-ipsum/README.md
  projects/blueprint-pong/README.md
  projects/fcc-leaderboard/README.md
  projects/fractal-trees/README.md
  projects/game-of-life/README.md
  projects/hazelcast-leader-election/README.md
  projects/javascript-calculator/README.md
  projects/jumpy-block/README.md
  projects/legacy-one/README.md
  projects/markdown-previewer/README.md
  projects/matrix-digital-rain/README.md
  projects/pomodoro-clock/README.md
  projects/portfolio/README.md
  projects/react-game-of-life/README.md
  projects/react-weather-dashboard/README.md
  projects/recipe-box/README.md
  projects/request-header-parser-microservice/README.md
  projects/resume-template/README.md
  projects/simon-game/README.md
  projects/snake/README.md
  projects/strimko/README.md
  projects/tic-tac-toe/README.md
  projects/timestamp-microservice/README.md
  projects/tower-of-hanoi/README.md
  projects/trainspotting-choose-quote-machine/README.md
  projects/tribute-page/README.md
  projects/twitch-status-viewer/README.md
  projects/weather-app/README.md
  projects/wikipedia-viewer/README.md
  projects/youtube-viewer/README.md
Due: BestNewMusic, FCCLeaderboard, GameOfLife, HazelcastLeaderElection, MarkdownPreviewer, ReactGameOfLife, ReactWeatherDashboard, RecipeBox, RequestHeaderParserMicroservice, Strimko, TimestampMicroservice, YouTubeViewer

Update build status
  projects/image-search/README.md
Due: ImageSearch

Lock mongoengine
  projects/image-search/requirements.txt
Due: ImageSearch

Update build status (#151)
  projects/image-search/README.md
  projects/image-search/requirements.txt
Due: ImageSearch

Add build status
  projects/dawdle/README.md
  projects/dawdle/requirements.txt
  projects/tiny/README.md
  projects/tiny/requirements.txt
  projects/urlshortener/README.md
  projects/urlshortener/requirements.txt
Due: Dawdle, Tiny, URLShortener

Update wekzeug
  projects/dawdle/requirements.txt
  projects/tiny/requirements.txt
Due: Dawdle, Tiny

wip
  projects/urlshortener/requirements.txt
Due: URLShortener

Use herokue python version image search
  .github/workflows/image-search.yml
  projects/image-search/README.md
  projects/image-search/docker/local.Dockerfile
  projects/image-search/runtime.txt
Due: ImageSearch

Use herokue python version image search (#153)
  .github/workflows/image-search.yml
  projects/image-search/README.md
  projects/image-search/docker/local.Dockerfile
  projects/image-search/runtime.txt
Due: ImageSearch

Update tiny
  .github/workflows/tiny.yml
  projects/tiny/README.md
  projects/tiny/docker/local.Dockerfile
  projects/tiny/requirements.txt
  projects/tiny/runtime.txt
Due: Tiny

Update params
  projects/tiny/tiny/forms.py
Due: Tiny

Update tiny (#154)
  .github/workflows/tiny.yml
  projects/tiny/README.md
  projects/tiny/docker/local.Dockerfile
  projects/tiny/requirements.txt
  projects/tiny/runtime.txt
  projects/tiny/tiny/forms.py
Due: Tiny

Update dawdle
  projects/dawdle/Dockerfile
  projects/dawdle/README.md
  projects/dawdle/dawdle/components/auth/forms.py
  projects/dawdle/dawdle/components/user/forms.py
  projects/dawdle/docker/local.Dockerfile
  projects/dawdle/docker/test.Dockerfile
  projects/dawdle/requirements.txt
Due: Dawdle

Remove args
  projects/dawdle/dawdle/components/auth/forms.py
  projects/dawdle/dawdle/components/user/forms.py
Due: Dawdle

Update dawdle (#155)
  projects/dawdle/Dockerfile
  projects/dawdle/README.md
  projects/dawdle/docker/local.Dockerfile
  projects/dawdle/docker/test.Dockerfile
  projects/dawdle/requirements.txt
Due: Dawdle

Update shortener
  projects/urlshortener/Dockerfile
  projects/urlshortener/README.md
  projects/urlshortener/requirements.txt
Due: URLShortener

Update shortener (#156)
  projects/urlshortener/Dockerfile
  projects/urlshortener/README.md
  projects/urlshortener/requirements.txt
Due: URLShortener

Fix twitch status viewer
  projects/twitch-status-viewer/package.json
  projects/twitch-status-viewer/src/scripts/index.js
Due: none

Fix twitch status viewer (#157)
  projects/twitch-status-viewer/package.json
  projects/twitch-status-viewer/src/scripts/index.js
Due: none

Add linkedin link
  mikelowe.xyz/config.toml
Due: none

Add linkedin link (#158)
  mikelowe.xyz/config.toml
Due: none

Advent of code day one
  .vscode/settings.json
  challenges/advent-of-code/2023/README.md
  challenges/advent-of-code/2023/src/day1a.ts
  challenges/advent-of-code/2023/src/day1a_input.txt
  challenges/advent-of-code/2023/src/day1b.ts
  challenges/advent-of-code/2023/src/day1b_input.txt
  challenges/advent-of-code/2023/src/deps.ts
  challenges/advent-of-code/2023/src/util.ts
  challenges/advent-of-code/2023/tests/day1a_test.ts
  challenges/advent-of-code/2023/tests/day1b_test.ts
  challenges/advent-of-code/2023/tests/deps.ts
Due: none

chore: wip
  challenges/advent-of-code/2023/README.md
Due: none

Advent of code day one (#159)
  .vscode/settings.json
  challenges/advent-of-code/2023/README.md
  challenges/advent-of-code/2023/src/day1a.ts
  challenges/advent-of-code/2023/src/day1a_input.txt
  challenges/advent-of-code/2023/src/day1b.ts
  challenges/advent-of-code/2023/src/day1b_input.txt
  challenges/advent-of-code/2023/src/deps.ts
  challenges/advent-of-code/2023/src/util.ts
  challenges/advent-of-code/2023/tests/day1a_test.ts
  challenges/advent-of-code/2023/tests/day1b_test.ts
  challenges/advent-of-code/2023/tests/deps.ts
Due: none

Tidy up
  challenges/advent-of-code/2023/scripts/lint.sh
  challenges/advent-of-code/2023/scripts/run.sh
  challenges/advent-of-code/2023/scripts/test.sh
  challenges/advent-of-code/2023/src/day1a.ts
  challenges/advent-of-code/2023/src/day1b.ts
  challenges/advent-of-code/2023/src/input/day1a.txt
  challenges/advent-of-code/2023/src/input/day1b.txt
  challenges/advent-of-code/2023/src/util.ts
Due: none

Tidy up (#160)
  challenges/advent-of-code/2023/scripts/lint.sh
  challenges/advent-of-code/2023/scripts/run.sh
  challenges/advent-of-code/2023/scripts/test.sh
  challenges/advent-of-code/2023/src/day1a.ts
  challenges/advent-of-code/2023/src/day1b.ts
  challenges/advent-of-code/2023/src/input/day1a.txt
  challenges/advent-of-code/2023/src/input/day1b.txt
  challenges/advent-of-code/2023/src/util.ts
Due: none

Advent of code 2023 day 2
  challenges/advent-of-code/2023/src/day1b.ts
  challenges/advent-of-code/2023/src/day2a.ts
  challenges/advent-of-code/2023/src/day2b.ts
  challenges/advent-of-code/2023/src/input/day2a.txt
  challenges/advent-of-code/2023/src/input/day2b.txt
  challenges/advent-of-code/2023/tests/day2a_test.ts
  challenges/advent-of-code/2023/tests/day2b_test.ts
Due: none

chore: wip
  challenges/advent-of-code/2023/src/day2b.ts
Due: none

Advent of code 2023 day 2 (#161)
  challenges/advent-of-code/2023/src/day1b.ts
  challenges/advent-of-code/2023/src/day2a.ts
  challenges/advent-of-code/2023/src/day2b.ts
  challenges/advent-of-code/2023/src/input/day2a.txt
  challenges/advent-of-code/2023/src/input/day2b.txt
  challenges/advent-of-code/2023/tests/day2a_test.ts
  challenges/advent-of-code/2023/tests/day2b_test.ts
Due: none

Advent of code 2023 day 3
  challenges/advent-of-code/2023/src/day3a.ts
  challenges/advent-of-code/2023/src/day3b.ts
  challenges/advent-of-code/2023/src/input/day3a.txt
  challenges/advent-of-code/2023/src/input/day3b.txt
  challenges/advent-of-code/2023/tests/day3a_test.ts
  challenges/advent-of-code/2023/tests/day3b_test.ts
Due: none

Advent of code 2023 day 3 (#162)
  challenges/advent-of-code/2023/src/day3a.ts
  challenges/advent-of-code/2023/src/day3b.ts
  challenges/advent-of-code/2023/src/input/day3a.txt
  challenges/advent-of-code/2023/src/input/day3b.txt
  challenges/advent-of-code/2023/tests/day3a_test.ts
  challenges/advent-of-code/2023/tests/day3b_test.ts
Due: none
